.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.App-header {
  background: #212F70;
  height: 50px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

#preview {
  background-color:palegreen
}
